apiVersion: v1
kind: ConfigMap
metadata:
  name: boundary-worker-config
  namespace: aniket-test
data:
  boundary-worker.hcl: |
    disable_mlock = true

    worker {
      initial_upstreams = ["boundary:9201"]
      auth_storage_path = "/boundary/auth"

      # ACTIVATION TOKEN (one-time use)
      controller_generated_activation_token = "neslat_2KrcoF2mmddVVoYeLykXLzF2Vr64R3hQrkvj3sVZQBp8mY3qafxKShjwcAprQJ9DUQZf8kEEDoffP22NhYKzh3Cr3TLXP"
    }

    listener "tcp" {
      address = "0.0.0.0:9202"
      purpose = "proxy"
    }
