apiVersion: v1
kind: ConfigMap
metadata:
  name: boundary-worker-config
  namespace: aniket-test
data:
  boundary-worker.hcl: |
    disable_mlock = true

    worker {
      name = "k8s-pki-worker"
      public_addr = "boundary-worker.aniket-test.svc.cluster.local:9202"

      initial_upstreams = ["boundary:9201"]
      auth_storage_path = "/boundary/auth"
    }

    listener "tcp" {
      address = "0.0.0.0:9202"
      purpose = "proxy"
    }
